body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
}

/* navbar */
header{
  display:flex;
  justify-content:space-between;
  padding:20px;
  background:#020617;
}

nav a{
  color:white;
  margin:10px;
  text-decoration:none;
}

nav a:hover{
  color:#38bdf8;
}

/* hero */
.hero{
  display:flex;
  align-items:center;
  justify-content:space-around;
  padding:60px;
}

.hero img{
  width:200px;
  border-radius:50%;
}

.btn{
  background:#38bdf8;
  padding:10px 20px;
  color:black;
  text-decoration:none;
}

/* sections */
section{
  padding:40px;
}

/* skills */
.bar{
  background:#1e293b;
  height:10px;
}

.fill{
  background:#38bdf8;
  height:10px;
}

/* projects */
.project-grid{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
}

.card{
  background:#1e293b;
  padding:20px;
  width:200px;
}

.card img{
  width:100%;
}

/* footer */
footer{
  text-align:center;
  padding:20px;
  background:#020617;
}
