body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
}
.typing-text {
  color: #000080;
  font-size: 40px;
  font-weight: bold;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid black;
  animation: typing 3s steps(20) forwards;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; 
     border-right:none;
     }
}

@keyframes blink {
  50% { border-color: transparent; }
}
.resume-btn {
  display: inline-block;
  padding: 10px 20px;
  background: #ff4b2b;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.resume-btn:hover {
  background: #e60039;
}
/* navbar */
header{
  display:flex;
  justify-content:space-between;
  padding:20px;
  background:#020617;
}

nav a{
  color:white;
  margin:10px;
  text-decoration:none;
}

nav a:hover{
  color:#38bdf8;
}

/* hero */
.hero{
  display:flex;
  align-items:center;
  justify-content:space-around;
  padding:60px;
}

.hero img{
  width:200px;
  border-radius:50%;
}

.btn{
  background:#38bdf8;
  padding:10px 20px;
  color:black;
  text-decoration:none;
}

/* sections */
section{
  padding:40px;
}

/* skills */
.bar{
  background:#1e293b;
  height:10px;
}

.fill{
  background:#38bdf8;
  height:10px;
}

/* projects */
.project-grid{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
}

.card{
  background:#1e293b;
  padding:20px;
  width:200px;
}

.card img{
  width:100%;
}

/* footer */
footer{
  text-align:center;
  padding:20px;
  background:#020617;
}




